# Reading Recipes 

Note: Data file is recipes.csv Attached with jupyter notebook

1. Start by importing NumPy as np

In [6]:
#type your code here
import numpy as np
import pandas as pd

2. All of Alize’s recipes call for milk, eggs, sugar, flour, and butter. For example, her cupcake recipe calls for:

Flour Sugar Eggs Milk Butter 2 cups 0.75 cups 2 eggs 1 cups 0.5 cups Create a NumPy array that represents this data. Each element should be a number (i.e., 2 for “2 cups”). Save this array as cupcakes.

In [3]:
#type your code here
cupcakes=np.array([2,0.75,2,1,0.5])
cupcakes

array([2.  , 0.75, 2.  , 1.  , 0.5 ])

3. Alize’s assistant has compiled all of her recipes into a csv (comma-separated variable) file called recipes.csv. Load this file into a variable called recipes.

###########Explore yourselves how to load a csv file in numpy#######

In [23]:
recipes = pd.read_csv('recipes.csv', sep=',',header=None)
recipes

      0      1  2  3      4
0  2.00  0.750  2  1  0.500
1  1.00  0.125  1  1  0.125
2  2.75  1.500  1  0  1.000
3  4.00  0.500  2  2  0.500

4.Display recipes using print.
Display recipes using print.


Each row represents a different recipe. Each column represents a different ingredient.

Recipe	       Cups of Flour	Cups of Sugar	Eggs	Cups of Milk	Cups of Butter

Cupcakes	         …	              …	          …	         …	              …

Pancake	             …                …	          …	         …	              …

Cookie	             …	              …	          …	         …	              …

Bread	             …	              …	          …	         …	              …

In [24]:
#type your code here
print(recipes)

      0      1  2  3      4
0  2.00  0.750  2  1  0.500
1  1.00  0.125  1  1  0.125
2  2.75  1.500  1  0  1.000
3  4.00  0.500  2  2  0.500

5.The 3rd column represents the number of eggs that each recipe needs.

Select all elements from the 3rd column and save them to the variable eggs.

In [26]:
#type your code here
eggs=recipes.iloc[:,[3]]
eggs

   3
0  1
1  1
2  0
3  2

6.Which recipes require exactly 1 egg? Use a logical statement to get True or False for each value of eggs.

In [28]:
#type your code here
(eggs[3] == 1)

0     True
1     True
2    False
3    False
Name: 3, dtype: bool

7.Alize is going to make 2 batches of cupcakes (1st row) and 1 batch of cookies (3rd row).

You already have a variable for cupcakes. Create a variable for cookies with the data from the 3rd row.

In [30]:
#type your code here
cookies=recipes.iloc[2]
cookies

0    2.75
1    1.50
2    1.00
3    0.00
4    1.00
Name: 2, dtype: float64

8.
Get the number of ingredients for a double batch of cupcakes by using multiplication on cupcakes. Save your new variable to double_batch.

In [32]:
#type your code here
double_batch=recipes.iloc[0]*2
double_batch

0    4.0
1    1.5
2    4.0
3    2.0
4    1.0
Name: 0, dtype: float64

9.
Create a new variable called grocery_list by adding cookies and double_batch.

In [38]:
#type your code here
grocery_list=double_batch+cookies
grocery_list

0    6.75
1    3.00
2    5.00
3    2.00
4    2.00
dtype: float64

0    6.75
1    3.00
2    5.00
3    2.00
4    2.00
dtype: float64